div {
    text-align: justify;
    text-justify: inter-word;
}

p {
    line-height: 1.5;
    margin-bottom: 6px;
    padding-bottom: 26px;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Nestle-Text-Book";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
    color: #63513D;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
}
html {
    font-size: 62.5%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}